*{
    margin: 0;
    padding: 0;
}
.bg-main{
    background-color: #00B207;
}
.bg-black-main{
    background-color: #333333;
    color: #999999;
}
.bg-orange{
    background-color: #FF8A00;
}
.text-orange{
    color: #FF8A00;
}
.text-yellow{
    color: #FCC900;
}
.text-main{
    color: #00B207;
}
.big-bannar{
    background-image: url(./images/image-1.jpg);
}
.small-bannar-1{
    background-image: url(./images/image-2.png);
}
.small-bannar-2{
    background-image: url(./images/image-3.png);
}
.w-15{
    width: 15%;
}
@media screen and (max-width: 768px){
    .w-15{
        width: 30%;
    }
    .pt{
        padding-top: 35px;
    }
}
.b-gr{
    border: 1.5px solid #2C742F;
}
.b-gr1{
    border: 1px solid #00B207;
}
.t-gr{
    color: #2C742F;
}
.type-1{
    background-image: url(./images/type1.png);
}
.type-2{
    background-image: url(./images/type2.png);
}
.type-3{
    background-image: url(./images/type3.png);
}
.h-100{
    height: 450px;
    font-family: sans-serif;
}
.text-size{
    font-size: 18px;
}
.text-8{
    font-size:x-small;
}
.discount-container{
    background-image: url(./images/discount.jpg);
    height: 300px;
}
.insta1{
    background-image: url(./images/insta1.png);
    height: 170px;
}
.insta2{
    background-image: url(./images/insta2.png);
    height: 170px;
}
.insta3{
    background-image: url(./images/insta3.png);
    height: 170px;
}
.insta4{
    background-image: url(./images/insta4.png);
    height: 170px;
}
.insta5{
    background-image: url(./images/insta5.png);
    height: 170px;
}
.insta6{
    background-image: url(./images/insta6.png);
    height: 170px;
}
.border-bottom{
    border-bottom: 2px solid #20B526;
}
.border-bottom-2{
    border-bottom: 1px solid gray;
}
/* contact css */
.contact-main-header{
    background-image: url(./images/contact-header.png);
    height: 90px;
}
.map{
    background-image: url(./images/map.png);
    height: 250px;
}
.blog-main-header{
    background-image: url(./images/blog-header.png);
    height: 90px;
}
.blog-gallery{
    height: 85px;
}
.single-blog-main-header{
    background-image: url(./images/Breadcrumbs.png);
    height:90px;
}
.discount-single-blog{
    background-image: url(./images/single-blog-4.png);
    height: 180px;
    background-size: cover;
}